[Unit]
Description=Proxy Server Automation
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu/proxy-to-proxy-server
ExecStart=/usr/bin/node /home/ubuntu/proxy-to-proxy-server/simple-proxy.js

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
